{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div data-controller="add-data"
             data-add-data-form-url="{{ path('data_form') }}"
             data-add-data-table-url="{{ path('data_table') }}">
            <div class="card m-5">
                <div class="card-body" id="table-data">
                    <div data-add-data-target="table">
                        {% include 'data/_table.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="mt-0 m-5">
                <button class="btn btn-outline-success" data-action="add-data#open">Add</button>
                <button class="btn btn-outline-secondary float-end">Export xlsx</button>
            </div>
            {% include 'parts/modal.html.twig' %}
        </div>
    </div>
{% endblock %}